# Naive Bayes
__Math 3080: Fundamentals of Data Science__

The Naive Bayes algorithm utilized Bayes' Theorem:
$$P(Hypothesis | Evidence) = \frac{P(Hypothesis) P(Evidence | Hypothesis)}{P(Evidence)}$$

To train this model, we take the relative frequency for each Hypothesis and the corresponding evidence and use those as the probabilities.

Let's train this model. You have the following dataset:

In [1]:
import numpy as np
import pandas as pd

In [37]:
fruit = pd.read_csv('https://raw.githubusercontent.com/drolsonmi/math3080/main/Datasets/fruit.csv')
fruit.head()

   Fruit   Color   Size
0  Apple     Red  Small
1  Peach  Yellow  Large
2   Lime   Green  Small
3  Apple   Green  Large
4  Peach  Orange  Large

-----
## Your next project
Load the titanic dataset:

In [44]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Create a function that will predict whether a passenger survived based on sex, class, and whether they travel alone or not. Then find the probability that I would have survived (a male who prefers to travel without paying too much, so rides third class, but I wouldn't travel alone).

> Remember that you will need to first clean this dataset. Find the missing values and determine whether it would be worth filling or removing missing data.