# Lecture 26 Machine Learning Process
__Math 3080: Fundamentals of Data Science__

Reading:
* a

Machine Learning Process
1. Obtain and Clean Data
2. Wrangle data
3. Exploratory Data Analysis
4. __Model__
5. __Evaluate__

## The Machine Learning Process
* Data pre-processing (MATH 3080)
	* Obtain and load the data
	* Clean the data
	* Analyze the data
	* Split into training and testing sets
* Modeling (MATH 3080/3280/3480)
	* Build and Train the model
	* Make predictions
* Evaluation (MATH 3080/3280/3480)
	* Calculate performance metrics
       * Determine if the model is good

Demos:
* [3480_01a_Demo.ipynb](https://github.com/drolsonmi/math3480/blob/main/Notes/3480_01a_MLDemo.ipynb)
* [3480_01a_Demo2.ipynb](https://github.com/drolsonmi/math3480/blob/main/Notes/3480_01a_MLDemo2.ipynb)

## Cross Validation

In [1]:
import seaborn as sns
tips = sns.load_dataset('tips')
display(tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [25]:
# Method 1:
  # Shuffle the data
  # Select the last 10-20% of the data for testing

test_size = 0.20
n = int((1-test_size)*len(tips))

shuffled_tips = tips.sample(frac=1)

X_train = tips.loc[:n].drop('tip', axis=1)
y_train = tips.loc[:n,'tip']

X_test = tips.loc[n:].drop('tip', axis=1)
y_test = tips.loc[n:,'tip']

In [34]:
# Method 2:
  # Random indices (as many as would constitute 10-20% of the number of observations)

import random
test_size = 0.20
n = int((test_size)*len(tips))

test_index = random.sample(range(len(tips)), n)


# Set aside these indices as test data
# Drop these indices for training data